<!DOCTYPE html>
{% extends "homesite/base.html" %}
{% block content %}
    <div class="container">

        <div class="row justify-content-center">
            <div class="col" style="text-align: center; margin-bottom: 5vh;">
                <a style="background: #eee; color: #000000; border: 10px solid #eee; border-radius: 20px; box-shadow: 5px 5px 5px #eee; text-shadow: none; font-size: 40px" href={{ url_for('usercrud.viewProject') }}> NastyLegacy Project </a>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid" style=" height: 500vh; background-image: url('/static/assets/circuitboard.jpeg'); background-repeat: no-repeat; background-size:100% 100%;">
            <div class="row justify-content-center">
                <div class="col-12" style="text-align: center;">
                    <h1 style="color:white; font-family: gilroy;">For students, by students.</h1>
                </div>
            </div>



            <div class="row justify-content-center">
                <div class="col" style="text-align: center;">
                    <p style="color: white; font-size: 2vw; font-weight: bold;"> We develop computer-science resources to form a community of dedicated student-learners administered by student-educators.
                    </p>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col" style="text-align: center; margin-bottom: 5vh;">
                    <a href="/projectsearch/dash" style="color: #10eef2; font-size: 2vw; font-weight: bold;"> Check out the students' works at Night at the Museum </a>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col" style="text-align: center;">
                    <a class="twitter-timeline" href="https://twitter.com/NighthawkCoding?ref_src=twsrc%5Etfw">Tweets by NighthawkCoding</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
