<!DOCTYPE html>

{% extends "homesite/base.html" %}

{% block content %}

<div class="container py-4">
  <header class="pb-3 mb-4 border-bottom border-primary text-dark">
    <span class="fs-4">Sign In Page</span>
  </header>
</div>

<div class="container py-4 text-light bg-success">

  <div class="container bg-secondary py-4">
    <div class="p-5 mb-4 bg-light text-dark rounded-3">
      <form method="POST" ID="authUser" action={{url_for('login')}} >
        <table>
          <tr><th><label for="adminpass">Administrator Login</label></th></tr>
          <tr><td><input type="password" id='adminpass' name="adminpass" size="20" required></td></tr>
          <tr><th><input type="submit" value="Submit"></th></tr>
        </table>
      </form>

      <!-- <button class="button"  style = "text-decoration:none;" href="http://127.0.0.1:5000/admin/">Go to Admin Page</a></button> -->

    </div>
  </div>

</div>

{% endblock %}