<!DOCTYPE html>

{% extends "nav.html" %}

{% block content %}
<style>
    input[type="submit"]{
        background: #eee;
        color: #000000;
        border: 10px solid #eee;
        border-radius: 20px;
        box-shadow: 5px 5px 5px #eee;
        text-shadow: none;
    }

    body {
        background-image: url('https://images.unsplash.com/photo-1487058792275-0ad4aaf24ca7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100%;
        height: fit-content;
    }

    hr {
        border: 1px solid black;
    }

    table.update_table {
        border-spacing: 15px;
        padding: 5px;
        width: 100%;
    }

    tr.update_table {
        height: 2.5em;
    }

</style>
<title>CRUD page</title>

<div class="container py-4 text-light">
    <header class="pb-3 mb-4 border-bottom">
        <h1><mark>CS Project and Student Page</mark></h1>
    </header>

    <div class="container py-4">
        <div class="p-5 mb-4 bg-light text-dark rounded-3">
            <h2>Projects Table</h2>
            <div class="row align-items-md-stretch">
                <div class="container-fluid py-5">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Scrum Team</th>
                            <th>Project Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Loop through rows in table -->
                        {% for row in projects %}
                        <tr>
                            <td>{{ row['id'] }}</td>
                            <td>{{ row['name'] }}</td>
                            <td>{{ row['scrum_team'] }}</td>
                            <td>{{ row['description'] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="p-5 mb-4 bg-light text-dark rounded-3">
            <h2>Users Table </h2>
            <div class="row align-items-md-stretch">
                <table class="table">
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row align-items-md-stretch">
                <div class="container-fluid py-5">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- Loop through rows in table -->
                        {% for row in users %}
                        <tr>
                            <td>{{ row['id'] }}</td>
                            <td>{{ row['name'] }}</td>
                            <td>{{ row['email'] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="container py-4">
        <div class="p-5 mb-4 bg-light text-dark rounded-3">
            <h2>Update or Create a role in a Project</h2>
            <form method="POST" ID="update" action={{url_for('usercrud.updateProject')}} >
                <table class="update_table" id="update_table">
                    <tr  class="update_table">
                        <th> Select a Project </th>
                        <td>
                            <select name="projectID" id="projectID">
                                <optgroup label="projectID">
                                    {% for row in projects %}
                                    <option label="{{ row['id'] }}. {{ row['name'] }}">{{ row['id'] }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </td>
                    </tr>
                    <tr  class="update_table">
                        <th> Select a User </th>
                        <td>
                            <select name="userID" id="userID">
                                <optgroup label="userID">
                                    {% for row in users %}
                                    <option label="{{ row['id'] }}. {{ row['name'] }}">{{ row['id'] }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </td>
                    </tr>

                    <tr  class="update_table">
                        <th> Select a Job for the User </th>
                        <td>
                            <select name="jobID" id="jobID">
                                <optgroup label="jobID">
                                    {% for row in jobs %}
                                    <option label="{{ row['id'] }}. {{ row['name'] }}">{{ row['id'] }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </td>
                    </tr>
                    <tr  class="update_table">
                        <th><label for="pass">Password of Updated User (Required)</label></th>
                        <td><input type="password" name="pass" id="pass" required></td>
                        <td><input type="submit" value="Update"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <div class="container py-4">
        <div class="p-5 mb-4 bg-light text-dark rounded-3">
            <h2>Create a new Project</h2>
            <form method="POST" ID="create" action={{url_for('usercrud.createProject')}}>
                <table class="table">
                    <thead>
                    <tr>
                        <th><label for="name">Project Name</label></th>
                        <th><label for="scrum_team">Scrum Team</label></th>
                        <th><label for="description">Project Description</label></th>
                        <th><label for="github_link">Github Link</label></th>

                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" name="name" id="name" required></td>
                        <td><input type="text" name="scrum_team" id="scrum_team" required></td>
                        <td><input type="text" name="description" id="description" required></td>
                        <td><input novalidate type="text" name="github_link" id="github_link" required></td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <th><label for="pages_link">Pages Link</label></th>
                        <th><label for="video_link">Video Link</label></th>
                        <th><label for="run_link">Runtime Link</label></th>
                        <th><label for="passwordi">Password (Remember this to edit later)</label></th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input novalidate type="text" name="pages_link" id="pages_link" required></td>
                        <td><input novalidate type="text" name="video_link" id="video_link" required></td>
                        <td><input novalidate type="text" name="run_link" id="run_link" required></td>
                        <td><input type="password" name="passwordi" id="passwordi" required></td>
                        <td><input type="submit" value="Create"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>

    </div>

    <div class="container py-4">
        <div class="p-5 mb-4 bg-light text-dark rounded-3">
            <h2>Update an existing Project</h2>
            <form method="POST" ID="updateInfo" action={{url_for('usercrud.updateProjectInfo')}}>
                <tr>
                    <th><label for="projectID2">Select the ID of the project</label></th>
                    <td>
                        <select name="projectID2" id="projectID2">
                            <optgroup label="projectID2">
                                {% for row in projects %}
                                <option label="{{ row['id'] }}">{{ row['id'] }}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                    </td>
                </tr>
                <table class="table">
                    <thead>
                    <tr>
                        <th><label for="namep">Project Name</label></th>
                        <th><label for="scrum_teamp">Scrum Team</label></th>
                        <th><label for="descriptionp">Project Description</label></th>
                        <th><label for="github_linkp">Github Link</label></th>

                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" name="namep" id="namep" required></td>
                        <td><input type="text" name="scrum_teamp" id="scrum_teamp" required></td>
                        <td><input novalidate type="text" name="descriptionp" id="descriptionp" required></td>
                        <td><input novalidate type="text" name="github_linkp" id="github_linkp" required></td>
                    </tr>
                    </tbody>
                    <thead>
                    <tr>
                        <th><label for="pages_linkp">Pages Link</label></th>
                        <th><label for="video_linkp">Video Link</label></th>
                        <th><label for="run_linkp">Runtime Link</label></th>
                        <th><label for="passwordp">Password</label></th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input novalidate type="text" name="pages_linkp" id="pages_linkp" required></td>
                        <td><input novalidate type="text" name="video_linkp" id="video_linkp" required></td>
                        <td><input novalidate type="text" name="run_linkp" id="run_linkp" required></td>
                        <td><input type="password" name="passwordp" id="passwordp" required></td>
                        <td><input type="submit" value="Update"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>

    </div>

</div>
{% endblock %}